body {
  font-family: "STHeiti Light", "Microsoft YaHei", "STXihei", arial, sans-serif;
  width: 800px;
  margin-left: 450px;
  margin-right: 800px;
  background-color: #fefefe;
}
.ywt{
	width:1368px; height:24px;
	background-color:White;
}
.y{
    margin:0px 0px 0px 100px;
}
.gif{
	  margin-left: 100px;
      margin-right: auto;
}
.bu{
	width: 100px;
	height: 30px;
}
.bk{
		width: 420px;
	    height: 30px;
	    border-style: groove;
}
